includes:
    - vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app/
    level: 5  # Start with lower level, increase gradually
    checkMissingIterableValueType: false
    ignoreErrors:
        - '#Parameter \#2 \$id of method App\Models\User::find\(\) expects int\|string\|null, int\|string given.#'